.test {
    display: flex;
}

.export-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #f2f3f5;
}

.columns-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

.selected-webservices-column {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e3e3e4;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 50vh;
    width: 40%;
}

.selected-webservices-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0;
    list-style-type: none;
}

.selected-webservices-list-item {
    cursor: pointer;
    font-weight: 700;
    color: #0f6cbf;
    display: flex;
    flex-direction: row;
}

.export-all-button {
    width: fit-content;
}

.details-column {
    width: 60%;
    padding-left: 2rem;
    gap: 1rem;
}

.details-content {
    display: none;
    flex-direction: column;
}

.details-title {
    color: #116dc0;
}

.details-request-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.details-curl-button {
    border: none;
    width: fit-content;
    margin: 0;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #f2f3f5
}

.details-postman-button {
    border: none;
    width: fit-content;
    margin: 0;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #f2f3f5
}

.code-container {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: scroll;
    width: 100%;
    color: red;
    position: relative;
}

.code-text {
    color: black;
    font-size: 14px
}

.copy-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    width: fit-content;
    margin: 0;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #106cbf;
    color: white;
    border: 1px solid #f2f3f5
}