{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
 Index page of wsformat tool
 
 @package   tool_wsformat
 @copyright 2023 Djarran Cotleanu, Zach Pregl
 @author    Djarran Cotleanu, Zach Pregl
 @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 
}}

{{!
@template tool_wsformat/mytemplate

Admin search input for page header.

Example context (json):
{
"action": "http://moodle.local/admin/search.php",
"query": "themedesigner"
}
}}

{{! Section for displaying selected web services }}
{{#items_selected}}
<div class="page-container" role="group" aria-label="{{#str}} pagecontainer, tool_wsformat {{/str}}">
    <div class="columns-container">
        <div class="selected-webservices-column">
            <h3>{{#str}} select, tool_wsformat {{/str}}</h3>
            <ul class="selected-webservices-list">
                {{#formdata}}
                <li class="selected-webservices-list-item" data-name="{{name}}" data-desc="{{description}}" data-curl="{{curl}}" title="{{description}}">
                    {{name}}
                </li>
                {{/formdata}}
            </ul>
            <div class="export-container" role="group" aria-label="{{#str}} exportgroup, tool_wsformat {{/str}}">
                <a id="export-button-id" href="download.php?export-type=curl&externalservice={{serviceindex}}&selected={{selectedindexes}}" data-selected="{{selectedindexes}}" class="btn btn-primary" style="width:fit-content">{{#str}} exportall, tool_wsformat {{/str}}</a>
                <select id="export-type" name="export-type-select" class="form-control custom-select" {{#readonly}}disabled{{/readonly}}>
                    <option value="curl" selected="">{{#str}} curl, tool_wsformat {{/str}}</option>
                    <option value="postman">{{#str}} postman, tool_wsformat {{/str}}</option>
                </select>
                <div class="form-defaultinfo text-muted">
                   {{#str}} curldefault, tool_wsformat {{/str}}
                </div>
            </div>
        </div>
        <div id="web-service-selection-panel" class="details-column">
            <h3 id="placeholder-text">
                {{#str}} selectwebservicedetails, tool_wsformat {{/str}}
            </h3>
            <div class="details-content" id="ws-panel">
                <div class="details-title" id="ws-title"></div>
                <h3 id="ws-description"></h3>
                <div class="details-request-container" id="ws-details">
                    <h4>{{#str}} requestt, tool_wsformat {{/str}}</h4>
                    <button class="details-curl-button" id="details-curl-button">
                        {{#str}} curl, tool_wsformat {{/str}}
                    </button>
                    <button class="details-postman-button" id="details-postman-button">
                        {{#str}} postman, tool_wsformat {{/str}}
                    </button>
                </div>
                <div class="code-container">
                    <code class="code-text" id="ws-curl"></code>
                    <button class="copy-button" id="curl-copy-button">
                        {{#str}} copybtn, tool_wsformat {{/str}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/items_selected}}
