{{!
@template tool_wsformat/mytemplate

Admin search input for page header.

Example context (json):
{
"action": "http://moodle.local/admin/search.php",
"query": "themedesigner"
}
}}
<h2>{{#str}} pluginname, tool_wsformat {{/str}}</h2>
<p>{{#str}} plugindescription, tool_wsformat {{/str}}</p>
